@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dd__icon {
    width: 1em;
    height: 1em;
    overflow: hidden;
    vertical-align: -0.15em;
    fill: currentColor;
  }
}
